---
layout: default_jing
---

<div class="home">

  
  <!--- <h1 class="page-heading">Posts</h1>  ---->

  <ul class="post-list">
    {% for post in site.categories['blog'] %}
      <li class="post-item">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% if post.cover %}
          <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-cover" src="{{ post.cover }}"></a>
    {% else %}{% endif %}
          <p class="post-abstract"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.abstract }}</a></p>
          <a id="post-more" class="post-meta" href="{{ post.url | prepend: site.baseurl }}">Read More...</a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <!--- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>  -->

</div>
