<footer class="footer">

<div id="footer">
  <span>©2016 tatltuae.co</span>
  <ul class = "fa-ul">
    <li><a href="https://dribbble.com/Unijing"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="https://medium.com/@unijing"><i class="fa fa-medium"></i></a></li>
    <li id="wechat">
      <a href="">
        <i class="fa fa-weixin"></i>
        <!-- <img src="img/wechat_qrcode.png"> -->
      </a>
    </li>
    <li><a href="http://www.linkedin.com/profile/view?id=232981920&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a></li>
    <li><a id="zhihu" href="http://www.zhihu.com/people/unijing">知</a></li>
  </ul>
</div>
 

</footer>
