---
layout: portfolio_jing
---

 <ul class="portfolio-list">
    {% for portfolio in site.posts %}
      <li class="post-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-cover" src="{{ post.cover }}"></a>
          <p class="post-abstract"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.abstract }}</a></p>
          <a class="post-meta" href="{{ post.url | prepend: site.baseurl }}">Read More...</a>
        </h2>
      </li>
    {% endfor %}
  </ul>